#primerUL li
{
	display: inline-block;
	background: blue;
	color: white;
}

#segundoUL
{
	background: yellow;
	color: orange;
}

.explota
{
	background: blue;
	color: red;
}

.samsung
{
	background: blue;
	color: white;
}




