/*Selectores*/
/*1.- Etiquetas*/
/*2.- Identificadores*/
/*3.- Clases*/ 
body /*selector - etiqueta*/
{
	/*atributo:valor;*/
	border: 1px solid blue;
	border-radius: 5px;
	font-size: 16px; /*tama침o de fuente est치ndar*/
	margin: 0px auto;
	max-width: 1024px;
}

footer
{
	border: 1px solid blue;
	font-size: 0.5em;
	text-align: center; /*alineamos todo el texto*/
}

header
{
	background: blue; /*fondo*/
	/*border: 1px solid red;*/
	color: white; /*letra*/
	/*padding: 0px 0px 10px 0px;*/
	text-align: center; /*alineaci칩n*/
}

header img
{
	float: right;
	margin: -60px 20px 0px 0px;
	width: 100px; /*ancho de la imagen*/
}

header nav ul li
{
	/*border: 1px solid yellow;*/
	background: orange; /*color de fondo*/
	border-radius: 5px; /*bordes redondeados*/
	box-shadow: 2px 2px;
	display: inline-block; /*rompe modelo de caja*/
	margin: 0px 10px 50px 10px; /*separo las cajas*/
	padding: 5px 10px; /*agrando los botones(interno)*/
	width: 80px; /*ancho del bot칩n*/
}

header nav ul li:hover /*mouse por encima*/
{
	background: white; /*color de fondo*/
	color: orange; /*color de letra*/
}

main 
{
	margin: 15px 0px 0px 0px;
}

main section article
{
	/*border: 1px solid red;*/
	display: inline-block;
	vertical-align: top;
	width: 24%;
}






















