body
{
	border: 1px solid blue;
	font-family: arial;
	font-size: 16px;   /*1em*/
	margin: 0px auto;  /*centramos la p치gina*/
	max-width: 1024px; /*ancho de pantalla*/
}
form
{
	float: right;
	margin: -40px 20px 0px 0px;
}
form input /*para el bot칩n y la caja de texto*/
{
	border-radius: 5px;
	height: 30px;
}
form input[type="button"]
{
	background: green;
	border: 0px;
	color: white;
}
header
{
	background: #B3D8EB; /*Color de fondo*/	
}
header nav
{
	background: #0E6CB0;
	border-radius: 5px;
	margin: 0 auto;
	padding: 2px 0px 2px 0px;
	width: 99%;
}
header nav ul li
{
	color: white;
	display: inline-block;
	margin: 0px 20px 0px 0px;
}
#logo
{
	float: left;
	margin: -120px 0px 0px 0px;
}
#seccion01 article
{
	text-align: center;
}
#seccion01 article img
{
	border: 5px solid rgba(150,150,150,0.3);
	margin: 15px 0px 0px 0px;
}
#seccion02 
{
	margin: 0 auto;
}
#seccion02 article
{
	display: inline-block;
	vertical-align: top;
	width: 32.8%;
}
.otraSeccion,.unaSeccion /*dos o mas selectores*/
{
	font-family: arial;  /*tipo de letra*/
	font-weight: bold;   /*negritas*/
}
.otraSeccion
{
	font-size: 2.5em; /*tama침o de letra*/
}
.unaSeccion
{
	font-size: 4.5em; /*tama침o de letra*/
}














